 {
      "meta" : {
        "href" : "https://api.moysklad.ru/api/remap/1.2/entity/product/metadata/attributes/1e5eb82c-c8c7-11ee-0a80-0e1c002c2ace",
        "type" : "attributemetadata",
        "mediaType" : "application/json"
      },
      "id" : "1e5eb82c-c8c7-11ee-0a80-0e1c002c2ace",
      "name" : "Изображение 3",
      "type" : "link",
      "value" : "IMG_2"
    },
