	     {
                "id": "VARIANT_UUID_0",
                "value": "VARIANT_VAL_0"
              },
              {
                "id": "627617d8-2cb1-11e6-8a84-bae500000055",
                "value": "черный"
              },
