 {
    "meta" : {
      "href" : "https://api.moysklad.ru/api/remap/1.2/entity/product/metadata/attributes/1e5eda4f-c8c7-11ee-0a80-0e1c002c2ad4",
      "type" : "attributemetadata",
      "mediaType" : "application/json"
    },
    "id" : "1e5eda4f-c8c7-11ee-0a80-0e1c002c2ad4",
    "name" : "Изображение 9",
    "type" : "link",
    "value" : "IMG_8",
    "required" : false
  },
