 {
    "meta" : {
      "href" : "https://api.moysklad.ru/api/remap/1.2/entity/product/metadata/attributes/1e5ed551-c8c7-11ee-0a80-0e1c002c2ad3",
      "type" : "attributemetadata",
      "mediaType" : "application/json"
    },
    "id" : "1e5ed551-c8c7-11ee-0a80-0e1c002c2ad3",
    "name" : "Изображение 8",
    "type" : "link",
    "value" : "IMG_7",
    "required" : false
  },
