 {
    "meta" : {
      "href" : "https://api.moysklad.ru/api/remap/1.2/entity/product/metadata/attributes/1e5edf95-c8c7-11ee-0a80-0e1c002c2ad5",
      "type" : "attributemetadata",
      "mediaType" : "application/json"
    },
    "id" : "1e5edf95-c8c7-11ee-0a80-0e1c002c2ad5",
    "name" : "Изображение 10",
    "type" : "link",
    "value" : "IMG_9",
    "required" : false
  }
 ],

