      "meta" : {
        "href" : "https://api.moysklad.ru/api/remap/1.2/entity/variant/metadata/characteristics/VARIANT_UUID_5",
        "type" : "attributemetadata",
        "mediaType" : "application/json"
      },
      "id" : "VARIANT_UUID_5",
      "name" : "VARIANT_NAME_5",
      "value" : "VARIANT_VAL_5"
    }, {
